* {
    /*border: 1px solid red; */
}

:root {
    --pyzgan-blue: #1385e5;
}


body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size:35px;
    margin:0;
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
}

.btn {
    background-color: Transparent;
    border: none;
    padding: 2rem;
    font-size: 16px;
    cursor: pointer;
}

.tight {
    padding: 1rem;
}

.vtight {
    padding: 0;
}

.mode-control .btn {
    font-size: 35px;
}

.fan_1 {
    background: linear-gradient(to top, var(--pyzgan-blue) 25%, var(--pyzgan-blue) 0%, var(--pyzgan-blue) 0%, Transparent 10%);
}

.fan_2 {
    background: linear-gradient(to top, var(--pyzgan-blue) 50%, var(--pyzgan-blue) 0%, var(--pyzgan-blue) 0%, Transparent 10%);
}

.fan_3 {
    background: linear-gradient(to top  , var(--pyzgan-blue) 75%, var(--pyzgan-blue) 0%, var(--pyzgan-blue) 0%, Transparent 10%);
}

.fan_4 {
    background-color: var(--pyzgan-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 2rem 1rem;
}

.custom-pop-content,
.width-block {
    max-width: 360px;
    width: 100% !important;
}

#root {

    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
}

.link-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

#main-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#main-container.schedule {
    justify-content: flex-start;
}

.temperature-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

#temperature-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.schedule {
    overflow: scroll;
}

.schedule-table {
    border-spacing: 0;
    border-collapse: collapse;
}

.schedule-table thead {
    display: table-header-group;
}

.schedule-table tr.sched-row {
    color: inherit;
    height: 56px;
    display: table-row;
    outline: none;
    vertical-align: middle;
}

.schedule-table td.sched-cell,
.schedule-table th {
    font-size: 0.75rem;
    font-weight: 500;
    display: table-cell;
    text-align: left;
    border-bottom: 1px solid gainsboro;
    vertical-align: inherit;
    padding: 0.5rem;
}

.schedule-table td.sched-cell,
.schedule-table th,
.schedule-table button {
    color: slategray;
}

.schedule-table th:nth-child(2),
.schedule-table th:nth-child(3),
td.sched-cell:nth-child(2),
td.sched-cell:nth-child(3) {
    width: 8rem;
}


.schedule-table button.date-close {
    display: block;
    margin-top: 10px;
    width: 100%;
    background-color: var(--pyzgan-blue);
    padding: 12px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
}

.schedule-table button.date-close.tight {
    font-size: 11px;
    margin: 0;
    padding: 0 0;
}

.schedule .title {
    color: black;
    font-size: 1.3125rem;
    font-weight: 500;
    line-height: 1.16667em;
}

.command-popper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
}

.command-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.command-container .temperature-control {
    width:100%;
}

.command-container .temperature-control.mode-control .btn {
    font-size: 20px;
}

.modal {
    font-size: 12px;
}

.modal > .content {
    width: 95%;
    padding: 10px 5px;
}